.home-faqs {
    padding: 2rem;

    #faqs-title {
        text-align: center;
    }

    .faq-list {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        .faq-item {
            background-color: #9FE7F5;


            .question {
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                &:hover {
                    background-color: #94ceda;
                }



                .arrow {
                    // background-color: #fff;
                    // padding: 2px;
                    // border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    transition: all 0.3s ease;
                }

                &.is-open .arrow {
                    transform: rotate(180deg);
                }
            }

            .answer {
                overflow: hidden;
                max-height: 0;
                opacity: 0;
                transition: all 0.3s ease;

                &.show {
                    max-height: 300px;
                    opacity: 1;
                    margin: 1rem;
                }
            }



        }
    }
}