.home-activities {
    width: 100%;

    .activities-title {
        text-align: center;

    }

    .swiper {
        padding: 3rem;


        .swiper-wrapper {

            .swiper-slide {
                max-width: 100vw
            }

            .activity-card {
                position: relative;
                height: 80vh;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 4rem;

                @media(max-width:768px) {
                    grid-template-columns: 1fr;
                }

                .activity-content {
                    grid-area: 1 / 2 / 2 / 3;
                    position: absolute;
                    text-align: left;
                    background: rgba(54, 54, 54, 0.45);
                    color: #fff;
                    padding: 2rem;
                    border-radius: 10px;
                    align-self: center;
                    display: flex;
                    flex-direction: column;

                    @media(max-width:768px) {
                        grid-area: 1 / 1 / 2 / 2;
                    }

                    h3 {
                        font-size: 1.75rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        line-height: 1.6;
                        margin-bottom: 1.5rem;
                    }

                    .btn {
                        text-align: center;
                    }


                }
            }

            .surfing {
                background: url(../../Assets/images/surfing.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 30px;
            }

            .diving {
                background: url(../../Assets/images/diving.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 30px;
            }


            .skiing {
                background: url(../../Assets/images/jet-skiing.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 30px;
            }

        }
    }
}