a {
    text-decoration: none;
}

h1 {
    font-size: 64px;
}

.home-hero {
    padding: 1rem;
}

.container {
    background: url(../Assets/images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero-content {
    padding-right: 2rem;
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 1rem;
    color: #fff;
    align-items: flex-end;


}

.hero-content .btn-wrapper {
    display: block;
    text-align: center;
}

.btn {
    background-color: #F27F2C;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.btn:hover {
    background-color: #d85f1c;
}